<ion-header>
  <ion-toolbar class="ribbon">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ribbon-tex" >Quize game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <ion-card>
    <ion-card-header>
      <img src="https://images.unsplash.com/photo-1534423861386-85a16f5d13fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
      <ion-card-title>Choose your quize game</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     
    </ion-card-content>
  </ion-card>
  <ion-button expand="block">Block Button</ion-button>
  <ion-button expand="block">Block Button</ion-button>
</ion-content>
