<ion-header>
  <ion-toolbar class="ribbon">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ribbon-tex" >Quize game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <ion-card>
    <ion-card-header>
      <img src="https://images.unsplash.com/photo-1534423861386-85a16f5d13fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" >
      <ion-card-title>Choose your quize game</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     
    </ion-card-content>
  </ion-card>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" size-md="6">
        <ion-button color="tertiary">Animal</ion-button>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-button color="tertiary">Geography</ion-button>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-button color="tertiary">Math</ion-button>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-button color="tertiary">History</ion-button>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-button color="tertiary">Sport</ion-button>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-button color="tertiary">Movies</ion-button>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-button color="tertiary">gaming</ion-button>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-button color="tertiary">Science</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
